[Unit]
Description=First boot setup
ConditionPathExists=!/var/tv-is-set-up
Before=sway@tty1.service
After=systemd-repart.service

[Service]
Type=oneshot
ExecStart=install -d -o ctv -g ctv /var/home/ctv
ExecStart=install -d -o ctv -g ctv /var/home/ctv/.config/sway
ExecStart=install -o ctv -g ctv /usr/share/compositv/sway-config /var/home/ctv/.config/sway/config
ExecStart=touch /var/tv-is-set-up

[Install]
WantedBy=graphical.target
